@model ScienceAndCiaoWeb.Models.RentalAndDetailsViewModel
@using ScienceAndCiao.Models.User
@using ScienceAndCiao.Services

@{
    ViewBag.Title = "Index";
}

@* making three columns, one for pic, one for description and title, and one for rental details *@

@using (Html.BeginForm("Reserve", "Rent"))
{
@Html.AntiForgeryToken();

<div class="row">
    @* Product Image *@
    <div class="col-sm-3 col-xs-4 image-kit">
        <img class="thumbnail-img" src="@Model.ImageUrl" alt="" style="width:100%;height:auto;padding:10px;" />
    </div>


    @* Kit Details(Title/Description) *@
    <div class="col-sm-6 col-xs-8 content-kit-main">
        <div class="content-kit-title-author">
            <h2><b>@Model.Title</b></h2> 
        </div>
        <div>
            <br />
            <span>@Html.Raw(Model.Description)</span>
        </div><br />
    </div>


    @* Rental Price and other product details *@
<div class="col-sm-3 col-xs-12 content-kit-product-details">
    <div>
        @{ List<SelectListItem> listItem = new List<SelectListItem>();
            listItem.Add(new SelectListItem
            {
                Text = StaticDetails.OneMonth,
                Value = StaticDetails.MonthlyMembershipFee
            });
            listItem.Add(new SelectListItem
            {
                Text = StaticDetails.SixMonth,
                Value = StaticDetails.SixMonthmemberShipFee
            }); }

        @if (Model.MonthlyMembershipFee != 1 && Model.SixMonthMemberShipFee != 1)
        {
            //User has logged in and they are not admin

            <div class="form-control" style="height:350px;">
                <div class="input-group" style="height:30px">
                    <label>MSRP:</label>
                    <label id="lblMSRP" style="font-weight:normal;">$@(Model.Price)</label><br />
                </div>
                <hr />

                    <div id="divRegularPrice" class="input-group" style="height:90px;">
                        <label>Rental Price : </label><br />
                        <label id="lblOneMonth" style="font-weight:normal;">One Month : $@(Model.MonthlyMembershipFee)</label>
                        <br />
                        @*<label id="lblOneMonth" style="font-weight:normal;">Six Months : $@(Model.SixMonthMemberShipFee)</label>*@
                    </div>
                <br />
                <label>Select your membership </label><br />
                @Html.DropDownListFor(m => m.Duration, listItem, new { @class = "form-control" })
                <span style="font-size:12px;"><br /><br /></span>

                @if (Model.Stock > 0)
                {
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Rent This Kit
                    </button> }
                else
                {
                    <button type="submit" class="btn btn-danger" disabled="disabled">
                        <span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;Unavailable
                    </button>}
            </div> }
        else
        {
            <div class="form-control" style="height:150px;">
                <div class="input-group" style="height:30px;">
                    <label>MSRP:</label>
                    <label id="lblMSRP" style="font-weight:normal;">$@(Model.Price)</label><br />
                </div>
                <hr />

                @if (User.IsInRole(StaticDetails.AdminUserRole) && Model.Stock > 0)
                {
                    //Admin user has Create button
                    @Html.ActionLink("Create Rental", "Create", "Rent",
                        new { title = Model.Title }, new { @class = "btn btn-primary" }) }
                else
                {
                    if (User.IsInRole(StaticDetails.AdminUserRole) && Model.Stock == 0)
                    {
                        //Admin user stock not available
                        <button type="submit" class="btn btn-danger" disabled>
                            <span class="glyphicon glyphicon-thumbs-down"></span>Unavailable
                        </button> }
                    else
                    {
                        //not logged in
                        <span>Sign up as a member to see prices. Free memberships available.</span>}
                }
            </div>          }
    </div>


    <h4 class="product-details-heading">Science Kit Details</h4>
    <dl>
        <dt>
            @Html.DisplayNameFor(m => m.Grade)
        </dt>
        <dd>
            &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.Grade)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(m => m.PublicationDate)
        </dt>
        <dd>
            &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.PublicationDate)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(m => m.LengthInMinutes)
        </dt>
        <dd>
            &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.LengthInMinutes)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(m => m.Price)
        </dt>
        <dd>
            &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.Price)
        </dd>
    </dl>

    @Html.HiddenFor(m => m.KitId)
    @Html.HiddenFor(m => m.PublicationDate)
    @Html.HiddenFor(m => m.SixMonthMemberShipFee)


</div>
</div>}
